.bg {
    background-color: #000000;
    margin: 0;
}
.button1 {
    transform: translate(790px, 90px);
}
.button2 {
    transform: translate(250px, 20px);
}
.enter button {
    transform: translate(150px, 60px)

}
.button3 {
    transform: translate(620px, 60px)

}
.button4 {
    transform: translate(1230px, 50px)
}
.button5 {
    transform: translate(960px, 10px)
}
.button6 {
    transform: translate(50px, 25px)
}