.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 一份一份 /repeat(5,1fr)重複幾次這樣 */ 
}
.item{
    padding: 80px;
    font-family: sans-serif;
    font-size: 20px;
}
.container .item:nth-child(odd) {
    background: #26c2a8;
}
/* 分積偶數顏色 */
.container .item:nth-child(even) {
    background: #cf5e3e;
}